Source: nagios-smart-multi
Section: net
Priority: optional
Maintainer: Matija Nalis (Tomsoft Debian repo) <mnalis-debian@axe.tomsoft.hr>
Build-Depends: debhelper-compat (= 12),
 debhelper,
 python3,
 dh-python,
Standards-Version: 4.3.0
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/nagios-smart-multi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nagios-smart-multi.git;a=summary

Package: nagios-smart-multi
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, python3, ${python3:Depends}, smartmontools, sudo, tomsoft-sysv
Suggests: nagios-nrpe-server | icinga | icinga2 | nagios3
Replaces: check-multi-smart
Enhances: nagios-plugins-basic
Recommends: nagios-plugins-basic
Description: nagios plugin to check S.M.A.R.T. status of disks
 Use one Nagios check to check for all your S.M.A.R.T. enabled disks.
 This nagios plugin checks advanced S.M.A.R.T. status (health, read
 errors/bad sectors, temperature and other factors) on multiple disks
 automatically. It does that by running several external nagios checks,
 some of them included. You can ignore unwanted checks for unwanted disks.
