Source: check-multi-smart
Section: net
Priority: extra
Maintainer: Matija Nalis <mnalis-debian@axe.tomsoft.hr>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/check-multi-smart.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/check-multi-smart.git;a=summary

Package: check-multi-smart
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${python:Depends}, smartmontools
Suggests: nagios3
Enhances: nagios-plugins-basic
Recommends: nagios-plugins-basic
Description: nagios plugin to check S.M.A.R.T. status of disks
 Use one Nagios check to check for all your S.M.A.R.T. enabled disks.
 This nagios plugin checks advanced S.M.A.R.T. status (health, read
 errors/bad sectors, temperature and other factors) on multiple disks 
 automatically. It does that by running several external nagios checks, 
 some of them included. You can ignore unwanted checks for unwanted disks.
